body{
    font: Arial, Helvetica, sans-serif 10px;
    padding: 0;
    margin: 0;
    background: #242828;
}
/*Estilos globales*/
.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.boton1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}
header{
    background-color: #242828;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #1293d4;
}
header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #marca{
    float: left;
}
header #marca h1{ 
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .resaltado{
    color: #1293d4;
    font-weight: bold;
}
header .actual a{
    color: #1293d4;
}
header a:hover{
    color: #ccc;
    font-weight: bold;
}
/*Formulario boletin*/
#boletin{
    padding: 15px;
    color: #fff;
    background: #242828;
}
#boletin h1{
    float: left;
}
#boletin form{
    float: right;
    margin-top: 15px;
}
#boletin input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
/* Lateral */
aside#lateral {
    float: right;
    width: 30%;
    margin-top: 10px;
}
.oscuro {
    padding: 15px;
    background-color: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Main */
article#main-col {
    float: left;
    width: 65%;
    color: #fff;
}
/*Servicios*/
#servicios li{
    list-style: none;
    padding: 20px;
    border: 1px solid #666;
    margin-bottom: 5px;
    background-color: #3f3f3f;
}
/*Footer*/
footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #1293d4;
    text-align: center;
}
/*Media qeurie - responsive*/
@media (max-width: 768px){
    header #marca, header nav, header nav li, #boletin h1, #boletin form, #cajas .caja, 
    article#main-col,aside#lateral{
        float: none;
        text-align: center;
        width: 100%;
    }
    aside#lateral {
        order: 1; 
        width: 100%;
        margin-top: 20px;
    }
    header{
        padding-bottom: 20px;
    }
    #boletin h1{
        margin-top: 40px;
    }
    #boletin button{
        display: block;
        width: 100%;
    }
    #boletin form input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }
    input, textarea{
        width: 98%;
    }
}